header{
    width: 100%;
    height: 963px;
    display: flex;
    justify-content: space-between;

    .header_foto{
        width: 45%;
        height: 100%;
        background-image: url("../../../assets/Home-Hero-Image.jpg");
        background-repeat: no-repeat;
        background-size:150% 100%;
        background-position: right bottom;
    };

    .header_menu_and_selection_buttons{
        width: 55%;
        height: 100%;
    
        .menu{
            margin-top: 2%;
            padding-left: 20%;
            padding-right: 10%;

            ul{
                font-size: 18px;
                display: flex;
                justify-content: space-between;

                li{
                    border: solid 1px white;
                    padding: 7px;

                    &:hover{
                        cursor: pointer;
                        border: solid 1px $color5;
                    };
                };
            };
        };

        .log_in_register{
            margin-top: 5%;
            padding-right: 10%;
            display: flex;
            justify-content:flex-end;
        
            ul{
                font-size: 14px;
                display: flex;
                justify-content: right;

                li{
                    border: solid 1px white;
                    padding: 7px;

                    &:hover{
                        cursor: pointer;
                        border: solid 1px $color3;
                    };
                };
            };
        };

        .tip{
            width: 100%;
            margin-top: 20%;
        };

        .box_button{
            width: 100%;
            margin-top: 10%;
            display: flex;
            justify-content: space-around;

            &:hover{
                cursor: pointer;
            };
        
            .button{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border: 1px solid $color5;
                width: 30%;
                padding-top: 4%;
                padding-bottom: 4%;
                font-size: 20px;
                color: $color5;
                text-decoration: none;
            };
        };
    };
};
